// @import './common';
// @import './example';
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #d0cece;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.search-input::placeholder {
  color: #0e0e0e;
  font-size: 14px;
}

.search-btn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #01458e;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
  margin-bottom: 20px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.photo-card {
  display: inline-block;
  width: 350px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.photo {
  min-width: 350px;
  height: 250px;
}

.info {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  justify-content: center;
  padding: 0.75rem 1.65rem;

  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  font-weight: 500;
  line-height: 1.75rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button.load-more:hover {
  background-color: #01458e;
}
